/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

/* Estilo do cabeçalho */
header {
  text-align: center;
  color: white;
  font-size: 25px;
}

/*definindo uma animação para minha bola*/
.fa-futbol {
  animation: rotate 1.3s infinite linear;
}
/* Efeito Parallax nas imagens de fundo */
.hero {
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  margin: 0;
  position: sticky;
  top: 0;
  overflow: hidden;
  padding: 0;

}
/* Animação de fundo gradiente no header */
.hero {
  background: linear-gradient(to bottom, #ff6600, #f72b2bf8);
  animation: gradientBackground 1s alternate infinite;
  
}

@keyframes gradientBackground {
  from {
    background: linear-gradient(to bottom, #ff6600, #f72b2bf8);
  }
  to {
    background: linear-gradient(to bottom, #f72b2bf8, #ff6600);
  }
}

/*definindo uma animação para meu texto h1*/
.hero h1 {
  animation: fadeIn 5s ease-in;
}

/*definindo configuração para meu paragrafo*/
.hero p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(255, 171, 92);
  font-style: italic;
  animation: fadeIn 6s ease-in;
}

/*definindo uma animação para meu texto h2*/
.container h2 {
  animation: fadeIn 6s ease-in;
  color: rgb(255, 123, 0);
}

/*configurando minha lista de serviços*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-style: italic;
  animation: fadeIn 2s ease-in;
}

li {
  padding: 50px 10px;
  transition: transform 0.3s ease-in-out;
}
li:hover {
  transform: scale(1.3);
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;

}

a:hover {
  color: #ff6600;
}

/* Estilo da seção principal */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px; /* Defina uma altura mínima para a seção */
}

/* Estilo do contêiner das imagens */
#image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Estilo para as imagens */
.img {
  background-color: white;
  padding: 1rem;
  text-align: center;
  height: 400px;
  width: 250px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.952);
  transition: transform 0.3s ease-in-out;
  border-radius: 20px;
  border: 3px solid #ff6600;
  animation: fadeIn 2s ease-in;
}
.img:hover {
  transform: scale(1.12);
  background-color: rgb(189, 189, 189);
  border: 4px solid rgb(255, 43, 43);
}
/* Estilizando a div de name */
.name {
  font-size: 1.3rem;
  color: #ff6600;
  font-weight: bold;
  margin-top: 10px;
}

/* Estilizando a div de golsMarcados */
.golsMarcados {
  font-size: 1.3rem;
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

/* Estilizando a div de golsSofridos */
.golsSofridos {
  font-size: 1.3rem;
  color: red;
  font-weight: bolder;
}
/* Estilizando a div de saldo */
.saldo {
  font-size: 1.3rem;
  color: rgb(56, 161, 108);
  font-weight: bolder;
}
/* Estilizando a div de temporada */
.temporada {
  margin-top: 10px;
  color: black;
  font-weight: bold;
}
/* Estilizando o meu buttom*/
.btn {
  margin-top: 10px;
  background-color: #ff6600;
  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  background-color: #f72b2bf8;
  border:1px solid black;
  transform: scale(1.20);
  font-style: italic;
}
/* Estilizando o meu footer*/
footer {
  text-align: center;
  font-size: 25px;
  min-height: 80px; /* Defina uma altura mínima para a seção */
  margin-top: 30px;
  color: white;
  background-color: rgb(32, 32, 32);
  font-style: italic;
}
footer p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 0, 0);
  font-style: italic;
}



.redes i {
  font-size: 30px;
  margin-right: 5px;
  transition: transform 0.2s ease-in-out;

}
.redes i:hover{
  transform: scale(1.30);
}

/* Faz com que meu elemento html desapareça gradatualmente*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Faz com que meu elemento html gire */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ************Estilos Responsivos *************/

@media (max-width: 768px) {
  ul {
    flex-direction: column;
  }

  li {
    padding: 10px 0;
    text-align: center;
  }

  .img {
    min-width: 100%;
    margin: 10px 0;
  }

  .temporada {
    font-size: 1rem;
  }
}
